<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Snow Day Calculator will calculate the percentage of having a snow day based on the weather data."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#3357aa" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Snow Day Calculator</title>
  </head>
  <body>
    <div id="app" class="background">
      <div class="white-container">
        <div id="snow-form" :class="'margin-screen-displace-' + display">
          <h1>
            <span class="blue">SNOW DAY</span>
            <span class="light-blue"> CALCULATOR</span>
          </h1>
          <div id="snow-form-input">
            <input placeholder="City Name" v-model="querySearch" />
            <div id="snow-form-input-bar-line"></div>
            <button @click="search()">Search</button>
          </div>
          <div
            id="snow-search-options"
            :style="(searchOptions.length > 1 && display == 0) ? { height: 'calc(100vh - 420px)', overflow: 'auto' } : { height: '0', overflow: 'none' } "
          >
            <div
              v-for="result in searchOptions"
              class="result-container"
              @click="selected(result)"
            >
              <div>
                <p>
                  {{result.city}}<span
                    v-if="result.city != null && result.district != null"
                    >, </span
                  >{{result.district}}
                </p>
                <p>{{result.postalCode}}</p>
                <p>{{result.country}}</p>
              </div>
              <div>
                <p>{{result.snowDayProbability}}%</p>
                <p>Chance of Snow Day</p>
              </div>
            </div>
          </div>
          <p class="snow-form-footer" v-if="loading">Search loading...</p>
          <p class="snow-form-footer" v-else-if="errorMsg != ''">
            {{errorMsg}}
          </p>
          <p class="snow-form-footer" v-else>
            Enter any State and City Located in the United State
          </p>
        </div>
        <div id="data">
          <div class="data-header">
            <h2>
              <span class="blue">SNOW</span>
              <span class="light-blue"> DAY</span>
            </h2>
            <p class="blue">
              <span style="font-weight: bold" class="disappear-phone"
                >Prediction:</span
              >
              {{snowData.snowData?.prediction}}
            </p>
          </div>
          <div
            class="data-container"
            :style="(display == 1) ? { height: 'auto'} : { height: '0' }"
          >
            <div class="data-weather-container">
              <div class="datetime-container">
                <div class="datetime-item">
                  <img src="./images/calendar.svg" />
                  <p>
                    <span class="blue">
                      {{monthToString(date.getMonth())}} - {{date.getDate()}} -
                      {{date.getFullYear()}}
                    </span>
                  </p>
                </div>
                <div class="datetime-item">
                  <img src="./images/clock.svg" />
                  <p>
                    <span class="blue">
                      {{getHours(date)}}:{{date.getMinutes().toString().padStart(2,'0')}}:{{date.getSeconds().toString().padStart(2,
                      '0')}} {{(date.getHours() > 11) ? "PM" : "AM"}}
                    </span>
                  </p>
                </div>
              </div>
              <div class="location-container">
                <p class="location-city">
                  {{snowData.city}}<span
                    v-if="snowData.city != null && snowData.district != null"
                    >, </span
                  >{{snowData.district}}
                </p>
                <p>
                  <span style="font-weight: bold"
                    >{{snowData.snowData?.totalSnow}}
                  </span>
                  inches<span class="disappear-phone"> of snow</span>
                </p>
                <p>
                  <span style="font-weight: bold"
                    >{{snowData.snowData?.snowingHours}}</span
                  >
                  Hours<span class="disappear-phone"> of Snowing</span>
                </p>
              </div>
              <div class="temp-container">
                <div class="temp-item">
                  <p class="temp-item-title">
                    <span class="blue">Temperature Min</span>
                  </p>
                  <p>
                    <span class="blue"
                      >{{snowData.snowData?.minTemperature}} F</span
                    >
                  </p>
                </div>
                <div class="temp-item">
                  <p class="temp-item-title">
                    <span class="blue">Temperature Max</span>
                  </p>
                  <p>
                    <span class="blue"
                      >{{snowData.snowData?.maxTemperature}} F</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="percentage-container">
              <div
                v-for="index in 90"
                class="block-container"
                :style="{ rotate: (index * 4) + 'deg' }"
              >
                <div
                  class="block"
                  :style="{ backgroundColor: (shouldShowColor(index)) ? '#3357AA' : 'black' }"
                ></div>
              </div>
              <div class="percentage-text-container">
                <h4>
                  <span style="font-weight: black"
                    >{{snowData.snowDayProbability}}</span
                  ><span style="font-weight: normal">%</span>
                </h4>
                <p>Chances Of Snow Falling Today</p>
              </div>
            </div>
          </div>
          <div class="data-bottom">
            <p @click="goBack()"><span class="blue">Back</span></p>
            <button @click="share = true">Share</button>
          </div>
        </div>
      </div>

      <footer>
        Built by
        <a href="https://github.com/OGRages/snowing-today" target="_blank"
          >OG Rages (Backend)</a
        >
        and
        <a href="https://github.com/owenbean400/snowingToday" target="_blank"
          >Owen Bean (Frontend)</a
        >
      </footer>

      <div v-if="share" class="share">
        <div class="sharing">
          <div class="share-icon-container">
            <a
              class="share-icon"
              href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.snowing.today&quote=Snow%20Day%20Calculator"
              title="Share on Facebook"
              target="_blank"
              ><img
                class="share-icon-img"
                alt="Share on Facebook"
                src="./images/Facebook.svg"
            /></a>
            <a
              class="share-icon"
              href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.snowing.today&text=Snow%20Day%20Calculator:%20http%3A%2F%2Fwww.snowing.today"
              target="_blank"
              title="Tweet"
              ><img
                class="share-icon-img"
                alt="Tweet"
                src="./images/Twitter.svg"
            /></a>
            <a
              class="share-icon"
              href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.snowing.today&title=Snow%20Day%20Calculator"
              target="_blank"
              title="Submit to Reddit"
              ><img
                class="share-icon-img"
                alt="Submit to Reddit"
                src="./images/Reddit.svg"
            /></a>
            <div
              class="share-icon"
              @click="copyClipboard('https://snowing.today')"
            >
              <img
                class="share-icon-img"
                alt="Copy Link"
                src="./images/copy.svg"
              />
            </div>
          </div>
          <button @click="share = false">Close</button>
        </div>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
